.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.card-image {
    max-height: 65% !important;
}

.full {
    max-height: 100% !important;
}

.card-content {
    padding: 5px 24px 0 24px !important;
}

.card-action {
    border-top: 1px solid rgba(255,255,255,0.3) !important;
}

.dish-name {
    font-size: 35px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}

.dish-info {
    font-size: 16px;
}

@media screen and (min-width:1024px) {
    .test {
        margin: 0 0 0 40px;
    }
}