{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">All Dishes</h3>
    
    <ul class="collapsible">
        {% for dish in dishes %}
        <li>
            <div class="collapsible-header green accent-3">
                <i class="fas fa-caret-down"></i>
                <strong>{{ dish.dish_name }}</strong>
            </div>
            <div class="collapsible-body">
                <strong>{{ dish.category_name }}</strong>
                <p>{{ dish.dish_description }}</p>
                <p><em>by: {{ dish.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}