{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">All Dishes</h3>

    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search')}}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Dishes</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_dishes') }}" class="red btn">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn">
                        <i class="fas fa-search left"></i>Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    
    {% if dishes|length > 0 %}
    <ul class="collapsible">
        {% for dish in dishes %}
        <li>
            <div class="collapsible-header green accent-3">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == dish.created_by|lower %}
                        <a href="{{ url_for('delete_dish', dish_id=dish._id)}}" class="btn-small green accent-4">Done</a>
                        <a href="{{ url_for('edit_dish', dish_id=dish._id)}}" class="btn-small light-blue lighten-1">Edit</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    <strong>{{ dish.dish_name }}</strong>
                </div>
            </div>
            <div class="collapsible-body">
                <strong>{{ dish.category_name }}</strong>
                <p>{{ dish.dish_description }}</p>
                <p><em>by: {{ dish.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}

{% endblock %}