{% extends "base.html" %}
{% block content %}

    {% for dish in dishes %}
        {{ dish.dish_name }}<br>
        {{ dish.category_name }}<br>
        {{ dish.dish_description }}<br>

    {% endfor %}
    
    <ul class="collapsible">
        {% for dish in dishes %}
        <li>
            <div class="collapsible-header green accent-3">
                <i class="fas fa-caret-down"></i>
                <strong>{{ dish.dish_name }}</strong>
            </div>
            <div class="collapsible-body">
                <strong>{{ dish.category_name }}</strong>
                <p>{{ dish.dish_description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}