{% extends "base.html" %}
{% block content %}

    <h3 class="center-align green-text text-darken-1">Edit Recipe</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_dish', dish_id=dish._id) }}">
            <!-- category selection -->
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Choose Category</option>
                        {% for category in categories %}
                            {% if category.category_name == dish.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
					<label for="category_name">Recipe Category</label>
				</div>
			</div>
            <!-- Dish Name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="dish_name" name="dish_name" minlength="5" maxlength="50"
                        value="{{ dish.dish_name }}" type="text" class="validate" required>
                    <label for="dish_name">Recipe Name</label>
                </div>
            </div>
            <!-- Dish Description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <textarea id="dish_description" name="dish_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                    {{- dish.dish_description -}}
                    </textarea>
                    <label for="dish_description">Brief Recipe Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="dish_ingredients" name="dish_ingredients" minlength="5"
                        maxlength="2000" class="materialize-textarea validate" required>
                    {{- dish.dish_ingredients -}}
                    </textarea>
                    <label for="dish_ingredients">Recipe Ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="dish_method" name="dish_method" minlength="5"
                        maxlength="2000" class="materialize-textarea validate" rows="3" required>
                    {{- dish.dish_method -}}
                    </textarea>
                    <label for="dish_method">Recipe method</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-image prefix light-blue-text text-darken-4"></i>
                    <input id="dish_url" name="dish_url" type="url" value="{{ dish.dish_url }}" class="validate" required />
                    <label for="dish_url">Image url</label>
                </div>
            </div>
            
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- Cancel Button -->
                    <a href="{{ url_for('get_dishes') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Edit Recipe <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}